@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    background-color: hsl(0, 0%, 100%);
}

.main-div{
    width: 100%;
    height: 100vh;
}

/* __________________ Header ________________ */
.main-header{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    height: 8vh;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    position: relative;
}

.left-header{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 1rem
}

.right-header{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

.logo{
    margin-left: 1rem;
    line-height: 2rem;
}

.cart{
    margin-right: 1.2rem;
    position: relative;
}

.cart.active::before{
    content: attr(data-amount);
    position: absolute;
    width: 1.5rem;
    background-color: hsl(29, 100%, 55%);
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
    top: -0.5rem;
    left: 0.6rem;
    text-align: center;
    font-size: .8rem;
    text-shadow: 0.5px 0 currentColor;
}

.avatar{
    margin-right: 1.4rem;
}

.avatar img {
    width: 1.7rem;
}

.menu{ 
    position: absolute;
    width: 0%;
    background-color: hsl(0, 0%, 100%);
    height: 100vh;
    top: 0;
    z-index: 1000;
    left: -254px;
}

.menu ul{
    display: flex;
    flex-direction: column;
    height: 22%;
    margin: 5rem 0 0 1.4rem;
    justify-content: space-between;
}

.menu ul li{
    list-style: none;
    font-weight: bolder;
}

.burger-close-icon{
    z-index: 9999;
}

.background{
    height: 100vh;
    background-color: rgb(0 0 0 / 65%);
    z-index: 999;
    width: 100%;
    position: absolute;
    top: 0;
}

/* __________________ End of header ________________ */


/* __________________ Start section image ________________ */
.main-section{
    width: 100%;
    height: 92vh;
}

.main-section-productImages{
    width: 100%;
    height: 40%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/imgs/image-product-1.jpg);
    background-size: cover;
    position: relative;
}


.prev-arrow{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 8rem;
    left: 1rem;
    background: url(/icons/icon-previous.svg) center center no-repeat;
    background-color: aliceblue;
    border-radius: 2rem;
}

.next-arrow{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 8rem;
    right: 1rem;
    background: url(/icons/icon-next.svg) center center no-repeat;
    background-color: aliceblue;
    border-radius: 2rem;
}

/* __________________ End image section ________________ */

/* __________________ Start product section  ________________ */

.main-section-productDetails{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.product-detail{
    margin: 1.2rem;
}

.product-detail span{
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bolder;
    color: hsl(29, 100%, 55%);
    text-shadow: 0.5px 0 currentColor;
    letter-spacing: 2px;
}

.product-detail h1{
    margin: 0.6rem 0 1rem 0;
    font-weight: 900;
    font-size: 2rem;
    color: hsl(0, 0%, 0%);
    text-shadow: 0.5px 0 currentColor;
    letter-spacing: 0.5px;
}

.product-detail p{
    color: rgba(0, 0, 0, 0.7);
}

.product-price{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.cost{
    margin-left: 1.2rem;
    display: flex;
    align-items: center;
}

.total-price{
    font-weight: 900;
    font-size: 1.7rem;
    color: hsl(0, 0%, 0%);
    text-shadow: 0.9px 0 currentColor;
    letter-spacing: 0.5px;
}

.per-cent{
    background-color: hsl(25, 100%, 94%);
    color: hsl(29, 100%, 55%);
    font-weight: 900;
    font-size: .9rem;
    text-shadow: 0.5px 0 currentColor;
    letter-spacing: 0.5px;
    padding: 0.2rem 0.7rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
}


.discount{
    margin-right: 1.2rem;
}

.discount span {
    font-size: 1rem;
    color: hsl(220, 14%, 75%);
    text-shadow: 0.9px 0 currentColor;
    letter-spacing: 0.5px;
    text-decoration: line-through;
}

.product-countAndBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product-count{
    position: relative;
    background-color: rgb(182, 188, 200, 0.1);
    padding: 1rem 11rem;
    margin: 1rem;
    border-radius: 0.6rem;
}

.amount{
    font-weight: 900;
    font-size: 1rem;
    color: hsl(0, 0%, 0%);
    text-shadow: 0.5px 0 currentColor;
}

.minus{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: url(/icons/icon-minus.svg) center center no-repeat;
}

.plus{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: url(/icons/icon-plus.svg) center center no-repeat;
}

.btn-add{
    background-color: hsl(29, 100%, 55%);
    color: hsl(0, 0%, 100%);
    font-size: .9rem;
    text-shadow: 0.5px 0 currentColor;
    letter-spacing: 0.5px;
    padding: 1rem 9rem;
    border-radius: 0.6rem;
    border: none;
    position: relative;
}

.btn-add::before{
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.7rem;
    left: 6.9rem;
    background: url(/icons/icon-cart.svg) center center no-repeat;
}

/* __________________ End product section  ________________ */


/* __________________ Start cart list ________________ */

.cart-list{
    position: absolute;
    width: 95%;
    height: 32vh;
    background-color: hsl(0, 0%, 100%);
    top: 9vh;
    left: 0.6rem;
    border-radius: 0.4rem;
}

.cart-list header{
    border-bottom: 0.1rem solid rgba(84, 84, 85, 0.1);
    padding: 1.3rem;
    font-size: .8rem;
    text-shadow: 0.5px 0 currentColor;
    letter-spacing: 0.5px;
    width: 100%;
    height: 8vh;
}

.cart-list-body{
    display: flex;
    width: 100%;
    height: 24vh;
    align-items: center;
    justify-content: center;


    flex-direction: column;
}

.cart-list-body > p{
    font-size: 1rem;
    color: hsl(220, 14%, 40%);
    text-shadow: 0.9px 0 currentColor;
    letter-spacing: 0.5px;
}

.product-container{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 3rem;
}

.product-img img{
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
}

.chekBtn{
    background-color: hsl(29, 100%, 55%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    text-shadow: 0.5px 0 currentColor;
    letter-spacing: 0.5px;
    padding: 1rem 8rem;
    border-radius: 0.6rem;
    border: none;
    position: relative;
    margin-top: 1.5rem;
}

.delete-icon{
    width: 0.7rem;
    height: 1rem;
    background: url(/icons/icon-delete.svg) center center no-repeat;
}

.product-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 10rem;
    color: rgb(0, 0, 0, 0.3);
    text-shadow: 0.5px 0 currentColor;
    letter-spacing: 0.5px;
    margin-bottom: 0.3rem;
}

.product-details{
    margin: 0 5rem 0 1rem;
}

.CountQuantity, .price-of-product{
    color: rgb(0, 0, 0, 0.3);
    text-shadow: 0.5px 0 currentColor;
    letter-spacing: 0.5px;
}


.total-cost{
    font-weight: 400;
    font-size: 1rem;
    color: hsl(0, 0%, 0%);
    text-shadow: 0.9px 0 currentColor;
    letter-spacing: 0.5px;
}


/* __________________ End cart list  ________________ */