@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

.main-div{
    width: 100%;
    height: 100vh;
}

/* __________________ Header ________________ */
.main-header{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    height: 8vh;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    position: relative;
}

.left-header{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 1rem
}

.right-header{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

.logo{
    margin-left: 1rem;
    line-height: 2rem;
}

.cart{
    margin-right: 1.2rem;
}

.avatar{
    margin-right: 1.4rem;
}

.avatar img {
    width: 1.7rem;
}

.menu{ 
    position: absolute;
    width: 0%;
    background-color: hsl(0, 0%, 100%);
    height: 100vh;
    top: 0;
    z-index: 1000;
    left: -254px;
}

.menu ul{
    display: flex;
    flex-direction: column;
    height: 22%;
    margin: 5rem 0 0 1.4rem;
    justify-content: space-between;
}

.menu ul li{
    list-style: none;
    font-weight: bolder;
}

.burger-close-icon{
    z-index: 9999;
}

.background{
    height: 100vh;
    background-color: rgb(0 0 0 / 65%);
    z-index: 999;
    width: 100%;
    position: absolute;
    top: 0;
}

/* __________________ End of header ________________ */


/* __________________ First section ________________ */
.main-section{
    width: 100%;
    height: 92vh;
}

.main-section-productImages{
    width: 100%;
    height: 40%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/imgs/image-product-1.jpg);
    background-size: cover;
    position: relative;
}


.prev-arrow{
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 8rem;
    left: 1rem;
    background: url(/icons/icon-previous.svg) center center no-repeat;
    background-color: aliceblue;
    border-radius: 2rem;
}

.next-arrow{
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 8rem;
    right: 1rem;
    background: url(/icons/icon-next.svg) center center no-repeat;
    background-color: aliceblue;
    border-radius: 2rem;
}

